<h2>Create User</h2>
  <% form_for @user, :html => {:multipart => true} do |form| %>
<fieldset>
<legend>Enter Your Details</legend>

<p><label for="login">Name:</label>
  <%= form.text_field :login %>
</p>
<p>
<label for="email">Email:</label>
  <%= form.text_field :email %>
</p>
<p>
<label for="password">Password:</label>
  <%= form.text_field :password %>
</p>
<p>
  <%= form.file_field :photo %>
</p>
  <%= submit_tag "Submit!", :class => "submit" %>
</fieldset>
  <% end %>

