<%= form_for(@subcomment) do |f| %>
  <% if @subcomment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subcomment.errors.count, "error") %> prohibited this subcomment from being saved:</h2>

      <ul>
      <% @subcomment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :commenter %><br />
    <%= f.text_area :commenter %>
  </div>
  <div class="field">
    <%= f.label :comment_id %><br />
    <%= f.text_field :comment_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
